<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="log-path">logs/log</Property>
    <Property name="log-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %t %class{36}.%M L:%L %n >
      %m%n
    </Property>
    <Property name="file-pattern">%d{yyyy-MM-dd}-%i.log.gz</Property>
  </Properties>

  <Appenders>
    <RollingFile name="FileAppender" fileName="${log-path}.log"
      filePattern="${log-path}-${file-pattern}">
      <PatternLayout pattern="${log-pattern}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="15MB"/>
        <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="logs/log" maxDepth="1">
          <IfLastModified age="30d"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger name="com.example.logging" level="info" additivity="false">
      <AppenderRef ref="FileAppender"/>
    </Logger>
  </Loggers>
</Configuration>
